.Following  {
   overflow: auto;
   min-height: 30%;
   /* border: 1px solid black; */
   margin: 16px;
   background-color: #f5f5f5;

}
.Following .Container {

    display: flex;
    flex-wrap: wrap;
   /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    /* padding: 20px; */
}

.hideFollowing {
    display: none;
}
.showFollowing {
    display: block;
}
