.Following  {
   min-height: 30%;
   margin: 16px;
   border-bottom: 2px solid darkcyan;
}
.Following .Container {

    display: flex;
    flex-wrap: wrap;
   /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    /* padding: 20px; */
}

.hideFollowing {
    display: none;
}
.showFollowing {
    display: block;
}

.Following .Headline {
    text-align: left;
    padding-top: 12px;
    padding-left: 29px;
}