.Following  {
    overflow: auto;
   /* background-image: url('../../../Assets/Images/following-bg.png');
   background-repeat: no-repeat;
   background-size: contain; */
   min-height: 50%;
   border: 1px solid black;
  

}
.Following .Container {

    display: flex;
    flex-wrap: wrap;
   /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    /* padding: 20px; */
}

.hideFollowing {
    display: none;
}
.showFollowing {
    display: block;
}
