.AdminLayout {
	height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 10% 90%;
}

.AdminLayout, .AdminLayout > * {
    border: 1px solid black;
    border-bottom: 2px solid black;
}



.AdminLayout .AdminMenu {
    grid-column: span 6;
}

.AdminLayout main {  
    overflow: auto;
}


