.AddVacation {
  text-align: center;
  display: inline-block;
}

.AddVacation > form {
  width: 450px;
  padding: 20px;
  background: rgb(196, 213, 219, 66%);
}

.AddVacation .ErrorMsg {
  color: red;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  bottom: 21px;
  float: left;
}

.AddVacation .TextBox {
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
}

.AddVacation button {
  margin: 10px 0;
}

.AddVacation button:hover {
  cursor: pointer;
  transform: scale(0.98)
}

.AddVacation .ImageUploader {
  position: relative;
  right: 196px;
}