.AddVacation > form {
  width: 450px;
  padding: 20px;
  margin: 20px;
}
/* //!So weird!!!.AddVacation  span makes the line cut it  */
.AddVacation .ErrorMsg {
  color: red;
  position: absolute;
  margin: 0 60px;
}

.AddVacation .TextBox {
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
}

.AddVacation button {
  /* width: 100%; */
  margin: 10px 0;
}

.AddVacation button:hover {
  cursor: pointer;
  transform: scale(0.98)
}


/* original: css:  */
/* .AddVacation > form {
  width: 450px;
  padding: 20px;
  margin: 20px;
}

.AddVacation span {
  color: red;
  position: absolute;
  margin: 0 60px;
}

.AddVacation input {
  width: 100%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
}

.AddVacation button {
  width: 100%;
  margin: 10px 0;
}

.AddVacation button:hover {
  cursor: pointer;
  transform: scale(0.98)
} */