.VacationList {
    background: rgb(196, 213, 219, 76%);
    text-align: left;
}

.VacationList .Container {
	display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    /* padding: 20px; */
}
