.Logo {
    height: 10%;
    position: fixed;
    left: 10px;
}

.Logo > img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:700px) {
    .Logo {
        display: none;
    }

}
     /* causes logo to spread on iphone:  */
     /* @media only screen and (orientation: landscape) {
        .Logo  {
            height: 10%;
            position: fixed;
            left: 5px; 
             display:none;
    
    
        }
      } */