.UserLayout {
	height: 100%;
    /* display: grid; */
    box-sizing: border-box; 
    /* grid-template-columns:1fr; */
    /* grid-template-rows: 50% 50%; */
}

.UserLayout {
    background: rgb(196, 213, 219, 80%);
    height: fit-content;
}


/* .UserLayout .divider {
	height: 2px;
    width: 100%;
    border: 1px solid black;
    background-color: black;
    box-sizing: border-box;
} */


.UserLayout .SearchVacation {
    background-color: transparent;
    border: 1px solid grey;
    margin-left: 28px;
}