.UnFollowing {
    overflow: auto;
    min-height: 50%;
    border: 1px solid black;
}

.UnFollowing .Container {
    display: flex;
    flex-wrap: wrap;
   /* justify-content: center; */
    /* align-items: center; */
    margin: 20px;
    /* padding: 20px; */
	
}
