.VacationCard .Card {
   position: relative;
   margin: 10px;
   width: 300px;
   height: 414px;
   background: rgb(216 229 234);
   padding-top: 10px;
}

.VacationCard .Card:hover {
   box-shadow: 5px 5px 7px #b4b4b4;
}

.VacationCard:hover {
   cursor: pointer;
}

.VacationCard .CardDestination {
   font-size: 25px;
   font-weight: bold;
   display: inline;
   padding-left: 10px;
}

.VacationCard .CardPrice {
   font-size: 18px;
   padding-left: 10px;
}

.VacationCard .CardStars {
   color: orange;
   padding-left: 10px;
   display: block;
   padding-top: 0px;
   margin-top: -6px;
}

.VacationCard .Stars {
   font-size: 20px!important;
}

.VacationCard .FromDate {
   font-size: 14px;
   font-weight: bold;
   padding-left: 10px;
   padding-bottom: 3px;
}

.VacationCard .DeleteButton {
   margin: 5px;
   color: red;
}

.VacationCard .EditButton {
   color: lightseagreen;
}

.VacationCard .Overflow {
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 15px;
   direction: initial;
}

.VacationCard .DeleteButton:hover,
.VacationCard .EditButton:hover {
   transform: scale(0.90);
}

.OverflowEffect {
   display: none;
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
}

.VacationCard:hover .OverflowEffect {
   display: inline-block;
}

.confirm-box {
   top: 5%!important;
}

.confirm-box__content {
   background-color: #598da5!important;
   color: white!important;
}

.cancellable-button,
.confirmable-buttton {
   border-radius: 8px!important;
   background: beige!important;
   border: none!important;
}