/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  color: #030638;
  background-image: #ededed;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif!important;

}

select, input, button {
  font-size: large;
}

a {
  color: blue;
}

.Box {
 display: inline-block;
 margin: 10px;
 padding: 0 10px;
 border: 1px solid black;
 border-radius: 10px;
 box-shadow: 5px 5px 10px;
 text-align: left;
}




/* scroll bar styling */

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background-color: lightgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(150, 145, 145);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 123, 123);
}


/* ::-webkit-scrollbar-button {
  background-color: grey;
} */



/* ::-webkit-scrollbar-track-piece {
  background-color: lightgrey;
} */

::-webkit-scrollbar:horizontal{
  height: 12px;
  background-color: rgb(129, 123, 123);
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:horizontal{
        background: rgb(150, 145, 145);
        border-radius: 10px;
        
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: rgb(129, 123, 123);
}











/* scroll bar styling */
/*
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: lightblue;
}

::-webkit-scrollbar-thumb {
  background: lightblue;
}


::-webkit-scrollbar-thumb:hover {
  background: lightcyan;
}

::-webkit-scrollbar-button {
    background-color: lightcyan;
}

::-webkit-scrollbar-track-piece {
    background-color: lightblue;
}
*/