.FollowingCard .Overflow {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 15px;
   direction: initial;
}

.FollowingCard .HorizontalCard {
  direction: rtl;
  position: relative;
  box-shadow: 5px 5px 7px #b4b4b4;
  margin: 13px 40px 8px 0px;
  transition: 0.5s all ease-in-out;
  height: 150px;
}

.FollowingCard:hover .HorizontalCard {
  transform: scale(1.05);
  cursor: pointer;
}

.FollowingCard .CardDestination {
  font-size: 25px;
  font-weight: bold;
  display: inline;
}

.FollowingCard .CardPrice {
  font-size: 18px;
}

.FollowingCard .CardStars {
  bottom: 3px;
  font-size: 20px;
  color: orange;
}
.FollowingCard .CardContent {
  text-align: left;
  padding-top: 5px;
  padding-left: 9px;
  padding-bottom: 0px!important;
  width: 360px;
}

.FollowingCard .UnFollowButton {
  color: red;
  position: absolute;
  left: 146px;
  top: 0px;
}

.FollowingCard .UnFollowButton:hover {
  transform: scale(0.95);
}

.FollowingCard .ImageVacation{
  /* height: 10%; */
  width: 200px;
}
  
.FollowingCard .ImageVacation > img{
  height: 100%;
  width: 100%;
}

/* .FollowingCard .Reviews {
  top: 10px;
  position: absolute;
  color: #bdc2cf;
  font-size: 14px;
} */

.FollowingCard .FromDate{
  font-size: 14px;
  bottom: 0px;
  position: absolute;
  font-weight: bold;
  left: 209px;
}

.FollowingCard .FollowersCount {

  position: absolute;
  bottom: 0px;
  right: 40px;
  font-size: 13px;
  color: #717070;
}
.FollowingCard .FollowersCount:hover {
  cursor: pointer;
}

.FollowingCard .FollowersText {
  color: #bdc2cf;
  font-size: 14px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.FollowingCard .Likes {
  right: 0px;
  position: absolute;
  bottom: -8px;
}

.FollowingCard .Stars {
  font-size: 20px!important;
}
